<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main/login.css">
    <title>Вход</title>
</head>
<body>
    <section class="login">
    <div class="container">
        @@include("../parts/header.html")
        <div class="login__wrapper">
            <div class="login__title">Войдите</div>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" class="feed-form" method="post">
                <input name="email" type="email", placeholder="Введите e-mail">
                <input type="text" name="username", placeholder="Введите login"/>
                <input name="password" type="password", placeholder="Введите пароль">
<!--                <img src="../img/images/sigma.gif" alt="sigma" class="login__img">-->
                <input type="submit" value="Войти" class="btn">Войти</input>
            </form>


            
            <div class="login__text">
                <div class="login__descr">Нет аккаунта?</div>
                <a href="../html/register.html" class="login__link">Зарегистрироваться</a>
            </div>
        </div>

    </div>
    <hr>
    @@include("../parts/footer.html")
    </section>
    
</body>
</html>


